#Создайте файл .env из копии этого файла и замените значения переменных реальными данными
SECRET_KEY=yoursecretkey
DEBUG=youdebug

NAME=yourname
USER=youruser
PASSWORD=yourpassword
HOST=yourhost
PORT=yourport

EMAIL_HOST_USER = your_email_host_user
EMAIL_HOST_PASSWORD = your_host_password
EMAIL_HOST = your_host
EMAIL_PORT = your_port